*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    align-content: center;
    justify-content: center;
}
.full{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('/images/components/game-background.png');
}
.control-panel{
    top: 0%;
    width: 100%;
    height: 15%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 119, 32);
}
.control-panel .points-box{
    right: 10%;
    width: 10%;
    height: 80%;
    display: flex;
    color: yellow;
    font-size: 20px;
    position: absolute;
    align-items: center;
    letter-spacing: 5px;
    justify-content: center;
}
.control-panel .points-box img{
    width: 50%;
    height: 80%;
}
.control-panel .plants{
    left: 1%;
    width: 50%;
    height: 80%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: left;
}
.control-panel .plants .box{
    width: 10%;
    height: 80%;
    display: flex;
    margin-left: 2%;
    align-items: center;
    background-size: 100%;
    justify-content: center;
    border: 1px solid black;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 3px black, -1px -1px 3px;
}
.box.peo{
    background-image: url('/images/components/shop/peo-close.png');
}
.box.sun{
    background-image: url('/images/components/shop/sun-close.png');
}

/* ground styles */
.grounds{
    left: 12%;
    bottom: 5%;
    width: 63%;
    height: 80%;
    z-index: 10;
    display: grid;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
    grid-template-columns: repeat(9, 1fr);
}
.grounds .ground{
    width: 90%;
    height: 100%;
    position: relative;
    background-size: contain;
    /* border: 1px solid black; */
    background-position: center;
    background-repeat: no-repeat;
}
.grounds .ground .sun-point{
    top: 0%;
    left: 40%;
    width: 60%;
    height: 50%;
    z-index: 50;
    position: absolute;
    transition: 0.3s;
}
.grounds .ground .turn{
    top: 10%;
    left: 60%;
    transition: 0.3s;
}
.grounds .ground .collect{
    top: -75%;
    left: 1150%;
    transition: 0.7s;
}
.zombies{
    width: 80%;
    bottom: -5%;
    height: 80%;
    display: grid;
    position: relative;
    /* border: 2px solid red; */
}

.zombies div{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

/* open and close classes */
.box.top{
    margin-top: 5%;
}
.box.peo.open{
    background-image: url('/images/components/shop/peo-open.png') !important;
}
.box.sun.open{
    background-image: url('/images/components/shop/sun-open.png') !important;
}