*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
}
.full{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.control-panel{
    top: 0%;
    width: 100%;
    height: 15%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 119, 32);
}
.control-panel .plants{
    left: 1%;
    width: 50%;
    height: 80%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: left;
}
.control-panel .plants .box{
    width: 10%;
    height: 80%;
    display: flex;
    margin-left: 2%;
    align-items: center;
    justify-content: center;
    background-size: contain;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-image: url('/images/components/shop/plants-1-open.png');
}


@keyframes plants-1-idle {
    0%{
        background-image: url('/images/plants/plant-1/idle/idle-1.png');
    }
    14%{
        background-image: url('/images/plants/plant-1/idle/idle-2.png');
    }
    29%{
        background-image: url('/images/plants/plant-1/idle/idle-3.png');
    }
    44%{
        background-image: url('/images/plants/plant-1/idle/idle-4.png');
    }
    58%{
        background-image: url('/images/plants/plant-1/idle/idle-5.png');
    }
    72%{
        background-image: url('/images/plants/plant-1/idle/idle-6.png');
    }
    86%{
        background-image: url('/images/plants/plant-1/idle/idle-7.png');
    }
    100%{
        background-image: url('/images/plants/plant-1/idle/idle-8.png');
    }
}

@keyframes plants-1-attack {
    0%{
        background-image: url('/images/plants/plant-1/attack/attack-1.png');
    }
    50%{
        background-image: url('/images/plants/plant-1/attack/attack-2.png');
    }
    100%{
        background-image: url('/images/plants/plant-1/attack/attack-3.png');
    }
}