*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
}
.full{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.control-panel{
    top: 0%;
    width: 100%;
    height: 15%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 119, 32);
}
.control-panel .plants{
    left: 1%;
    width: 50%;
    height: 80%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: left;
}
.control-panel .plants .box{
    width: 10%;
    height: 80%;
    display: flex;
    margin-left: 2%;
    align-items: center;
    background-size: 100%;
    justify-content: center;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 3px black, -3px -3px 3px;
}

.plants-1-close{
    background-image: url('/images/components/');
}
.plants-1-open{
    background-image: url('/images/components/shop/plants-1-open.png');
}
